@import url("https://fonts.googleapis.com/css2?family=Sixtyfour&display=swap");
@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}

.se {
  font-family: "Sixtyfour", sans-serif;
}

@layer utilities {
  @keyframes typing {
    0% {
      width: 0ch;
    }
    40% {
      width: 23ch;
    }
    60% {
      width: 23ch;
    }
    100% {
      width: 0ch;
    }
  }

  .animate-typing {
    animation: typing 10s steps(20) infinite;
  }

  @media (max-width: 640px) {
    @keyframes typing-sm {
      0% {
        width: 0ch;
      }
      40% {
        width: 10ch;
      }
      60% {
        width: 10ch;
      }
      100% {
        width: 0ch;
      }
    }

    .animate-typing-sm {
      animation: typing-sm 10s steps(20) infinite;
    }
  }
}

/* @layer base {
  body {
    font-family: "Sixtyfour", sans-serif;
  }
} */

/* @tailwind base;
@tailwind components;
@tailwind utilities; */

/* @theme {
  @keyframes typing {
    0% {
      width: 0ch;
    }
    40% {
      width: 21ch;
    }
    60% {
      width: 21ch;
    }
    100% {
      width: 0ch;
    }
  }
}

@media (max-width: 640px) {
  @keyframes typing {
    0% {
      width: 0ch;
    }
    40% {
      width: 10ch;
    }
    60% {
      width: 10ch;
    }
    100% {
      width: 0ch;
    }
  }
}

.animate-typing {
  animation: typing 15s steps(20) infinite;
} */

/* @theme {
  @keyframes fadeIn {
    0% {
      opacity: 0.9;
      transform: translateY(0);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.animate-fadeIn {
  animation: fadeIn 1s ease-out forwards;
} */

/* ::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: #d1e5ff;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(#642bff, #ff22e6);
  border-radius: 10px;
} */

/* .custom-scroll::-webkit-scrollbar {
  width: 15px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #d1e5ff;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: linear-gradient(#ff0000, #ff22e6);
  border-radius: 10px;
}


/* .custom-scroll {
  scrollbar-color: #ff0000 #ffffff;
  scrollbar-width: thin;
} */

/* .scroll-overlay {
  overflow-y: overlay;
} */
